<div class="content">
	<div>
		<p class="profile-text">Este é meu portifólio e aqui você vera um pouquinho dos meus trabalhos feitos em cursos e também alguns trabalhos pessoais</p>
		<ul class="list">
			<li class="list-item"><mat-icon class="svg">check_circle</mat-icon>CURSOS</li>
			<li class="list-item"><mat-icon class="svg">check_circle</mat-icon>TRABALHOS PESSOAIS</li>
			<li class="list-item"><mat-icon class="svg">check_circle</mat-icon>CARREIRA</li>

		</ul>
	</div>


	<img class="profile-img" src="https://github.com/marcospsw.png" alt="Profile Foto">
</div>
