@import "includes.scss";

.container {
	background-color: $gray-800;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 8rem;
	padding: 0 3rem;
}

.profile-container {
	display: flex;
	align-items: center;

	&--logo{
		width: 7.5rem;
		border: 10px solid $black;
		border-radius: 50%;
		margin-right: 1rem;
		&:hover{
			border: 10px solid $green;
		}
	}

	&--name {
		font-size: 2rem;
		font-weight: $font-bold;
		text-shadow:  2px 2px #000000;

		&:hover{
			color: $green;
		}
	}
}

.menu {
	display: flex;

	li {
		font-size: 1.5rem;
		font-weight: $font-semi-bold;
		padding: 0 1rem;
		cursor: pointer;
		text-shadow:  2px 2px #000000;


		&:hover {
			color: $green;
		}

		&.focused{
			color: $green;
		}
	}

	button {
		margin-left: 2rem;
	}
}
