@import "includes.scss";

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 75vh;

	p {
		font-size: 3rem;
		font-weight: $font-semi-bold;
	}
}